.env
.env.*
!.env.example
!React/my-app/.env.development

**/bin/
**/obj/
**/node_modules/
**/dist/
**/.vs/
**/.vscode/
**/TestResults/
**/coverage/
**/*.user
**/*.suo
**/*.trx
**/*.coverage
**/*.coveragexml

Asp.net/asp.net/asp.net/Storage/Resumes/*
!Asp.net/asp.net/asp.net/Storage/Resumes/.gitkeep
